body {
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    font-weight: 400;
    font-size: 7vw;
    margin-bottom: 0%;
    margin-top: 1%;
}
#error-text{
    color: red;
}
#image_container {
    font-weight: 400;
    font-size: 200%;
    width: 80vw;
    height: 50vh;
    margin: 1% 0 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
#upload_box, #processed_box {
    width: 48%;
    height: 100%;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    color: white;
    position: relative;
    overflow: hidden;
}

#upload_box {
    cursor: pointer;
}

#upload_box:hover {
    background-color:#333333;
}

img {
    height: 90%;
    width: 100%;
    object-fit: contain;
}

.spantext{
    width: 60%;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #ffffff;
    height: 15%;
    width: 100%;
    margin: 0%;
    font-size: 90%;
    font-weight: lighter;
}
#submit_form{
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ranges, #submit_button{
    font-weight: 400;
    font-size: 150%;
    border:2px solid #ffffff;
    width: 32%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
#submit_button{
    font-family: "Jersey 10", sans-serif;
    font-size: 250%;
}
#submit_button:hover{
    background-color: #d6d6d6;
}  
#submit_button:disabled{
    background-color: #3f3f3f;
    color: #ffffff;
    border: 2px solid #999;
    cursor: not-allowed;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 85%;
    height: 8px;
    background: white;
    border-radius: 5px;
    outline: none;
    margin-bottom: 2%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: black;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width : 900px) {
    #title{
        font-size: 10vw;
    }
    #image_container{
        flex-direction: column;
        height: 60vh;
    }
    #upload_box, #processed_box {
        width: 100%;
        height: 47%;
    }
    #submit_form{
        height: 21vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    #ranges{
        width: 48%;
        height: 42%;
    }
    #submit_button{
        font-size: 200%;
        width: 100%;
        height: 30%;
    }
}

