<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Quantizer</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
</head>

<body>
    <p id="title">IMAGE QUANTIZER</p>
    <div id="image_container">
        <form id="upload_box" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="file_input" name="file" required hidden>
            {% if original_img_base64 %}
            <img id="original_image" src="data:image/png;base64,{{ original_img_base64 }}" alt="Uploaded Image">
            {% else %}
            <span id="{% if error_message %}error-text{% endif %}" class="spantext">
                {{ error_message if error_message else "CLICK HERE TO UPLOAD IMAGE" }}
            </span>
            {% endif %}
            {% if original_img_base64 %}
            <h3>UPLOADED IMAGE</h3>
            {% endif %}
        </form>

        <div id="processed_box">
            {% if processed_img_base64 %}
            <img id="processed_image" src="data:image/png;base64,{{ processed_img_base64 }}" alt="Processed Image">
            <h3>PROCESSED IMAGE</h3>
            {% elif original_img_base64 %}
            <span class="spantext">CLICK "PROCESS IMAGE" BUTTON TO PROCEED</span>
            {% else %}
            <span class="spantext">UPLOAD IMAGE TO PROCEED</span>
            {% endif %}
        </div>
    </div>

    <form id="submit_form" action="/quantize" method="post">
        <div id="ranges">
            <label for="num_colors">NO. OF COLORS: <span id="num_colors_value">10</span></label>
            <input type="range" id="num_colors" name="num_colors" min="1" max="15" value="10">
        </div>
        <div id="ranges">
            <label for="iterations">ITERATIONS: <span id="iterations_value">10</span></label>
            <input type="range" id="iterations" name="iterations" min="1" max="15" value="10">
        </div>
        <button id="submit_button" type="submit" {% if not original_img_base64 %}disabled{% endif %}>PROCESS IMAGE</button>
    </form>
    <script src="../static/script.js"></script>
</body>

</html>
