<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Quantizer</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
</head>

<body>
    <header id="title">IMAGE QUANTIZER</header>
    <div id="image_container">
        <form id="upload_box" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="file_input" name="file" required hidden>
            <img class="original_image" src="none" alt="Uploaded Image">
            <h3 class="original_image">UPLOADED IMAGE</h3>
            <p id="empty_upload_box">CLICK HERE TO UPLOAD IMAGE</p>
            <p id="error_text">UPLOAD A VALID PHOTO</p>
            
        </form>

        <div id="processed_box">
            <img class="processed_image" src="none" alt="Processed Image">
            <h3 class="processed_image">PROCESSED IMAGE</h3>
            <p class="original_image">CLICK "PROCESS IMAGE" BUTTON TO PROCEED</p>
            <p id="empty_processed_box">UPLOAD IMAGE TO PROCEED</p>
        </div>
    </div>

    <form id="submit_form" action="/quantize" method="post">
        <div id="ranges">
            <label for="num_colors">NO. OF COLORS: <span id="num_colors_value">10</span></label>
            <input type="range" id="num_colors" name="num_colors" min="1" max="15" value="10">
        </div>
        <div id="ranges">
            <label for="iterations">ITERATIONS: <span id="iterations_value">10</span></label>
            <input type="range" id="iterations" name="iterations" min="1" max="15" value="10">
        </div>
        <button id="submit_button" type="button" disabled>PROCESS IMAGE</button>
    </form>
    <script src="../static/script.js"></script>
</body>

</html>
